# Cleaning data sets proyectos captura de agua

Estos archivos vienen separados por años desde 2019 a 2022. Primero agregaremos una columna de año para cada uno y luego los concatenamos para limpiarlos a la par. 

Hay muchos nulos en las columnas de colonia y de alcaldía que tenemos que homogenizar para poder tener la info para las 2 escalas

### Configuración espacio de trabajo

In [353]:
import numpy as np
import pandas as pd
import re
import warnings
warnings.filterwarnings('ignore')
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
from copy_repo_funciones import *
import geopandas as gpd

### Empezando

In [355]:
geo=pd.read_csv('../FINAL/RAW/GEOREF/georef-mexico-colonia.csv', sep=';') #Este archivo contiene el listado de colonias por alcaldia
geopandas=gpd.read_file('../FINAL/RAW/GEOREF/georef-mexico-colonia/georef-mexico-colonia-millesime.shp', encoding='utf-8')

In [356]:
geopandas.head()

,year,sta_code,sta_name,mun_code,mun_name,col_code,col_name,col_area_co,col_type,geometry
0,2022,['09'],['Ciudad de México'],['09002'],['Azcapotzalco'],['02-009'],['Coltongo'],MEX,colonia,"POLYGON ((-99.15595 19.48651, -99.15294 19.485..."
1,2022,['09'],['Ciudad de México'],['09003'],['Coyoacán'],['03-006'],['Ampliacion Candelaria'],MEX,colonia,"POLYGON ((-99.15265 19.32581, -99.15336 19.326..."
2,2022,['09'],['Ciudad de México'],['09003'],['Coyoacán'],['03-026'],['Croc Culhuacan Secc 6 (U Hab)'],MEX,colonia,"POLYGON ((-99.12251 19.32904, -99.12198 19.329..."
3,2022,['09'],['Ciudad de México'],['09003'],['Coyoacán'],['03-072'],['Los Cipreses'],MEX,colonia,"POLYGON ((-99.12466 19.31520, -99.12491 19.315..."
4,2022,['09'],['Ciudad de México'],['09004'],['Cuajimalpa de Morelos'],['04-033'],['Lomas Del Chamizal'],MEX,colonia,"POLYGON ((-99.26654 19.38314, -99.26658 19.383..."

In [358]:
capt_19=pd.read_csv('../FINAL/RAW/SCALL/scall_2019.csv')
capt_20=pd.read_csv('../FINAL/RAW/SCALL/scall_2020.csv')
capt_21=pd.read_csv('../FINAL/RAW/SCALL/scall_2021.csv')
capt_22=pd.read_csv('../FINAL/RAW/SCALL/scall_2022_col.csv') #Este archivo se hizo un cruce con shapely para sacar de las coordenadas para sacar colonia. More on that later

In [359]:
capt_19['año']=2019
capt_20['año']=2020
capt_21['año']=2021
capt_22['año']=2022

### Shapely para sacar las colonias

A la hora de ingresar las colonias hay un gran numero de inconsistencias que va a tardar mucho corregir a mano, por lo tanto vamos a usar Shapely para leer las coordenadas y cruzarlo con los limites de cada colonia para poder asignar el nombre correcto y homogeneo. 

Esto ya fue ejecutado en un notebook de prueba para 2022 y vamos a hacerlo para los demas aquí.

In [ ]:
#from shapely.geometry import Point, Polygon


# for index, row in capt_22.iterrows():
#     lat = row['latitud']
#     lon = row['longitud']
    

#     point = Point(lon, lat)
    

#     colonia_name = None
    
 
#     for _, polygon in geo.iterrows():

#         if polygon['geometry'].contains(point):

#             colonia_name = polygon['col_name']
#             break 
    
   
#     capt_22.at[index, 'Colonia name'] = colonia_name

### Limpiar 22, columna alcaldia que tiene nulos y hay que adecuar la nueva columna de colonias extraidas con shapely

In [360]:
capt_22.loc[capt_22['pueblo'] == 'PBO. SANTIAGO TUYLYEHUALCO', 'alcaldia'] = 'Xochimilco'
capt_22.loc[capt_22['pueblo'] == 'PUEBLO SAN LORENZO TLACOYUCAN', 'alcaldia'] = 'Milpa Alta'
capt_22.loc[capt_22['pueblo'] == 'SAN PABLO OZTOTEPEC', 'alcaldia'] = 'Milpa Alta'
capt_22.loc[capt_22['pueblo'] == 'VILLA MILPA ALTA', 'alcaldia'] = 'Milpa Alta'
capt_22.loc[capt_22['_id'] == 4275, 'alcaldia'] = 'Tlalpan'  # no tenia pueblo, lo miré por las coordenadas
capt_22.loc[capt_22['pueblo'] == 'SAN PEDRO ATOCPAN', 'alcaldia'] = 'Milpa Alta'
capt_22.loc[capt_22['pueblo'] == 'PUEBLO SAN FRANCISCO TECOXPA', 'alcaldia'] = 'Milpa Alta'
capt_22.loc[capt_22['pueblo'] == 'PUEBLO SAN LORENZO TLACOYUCAN', 'alcaldia'] = 'Milpa Alta'
capt_22.loc[capt_22['pueblo'] == 'SANTA ANA TLACOTENCO', 'alcaldia'] = 'Milpa Alta'
capt_22.loc[capt_22['pueblo'] == 'PUEBLO SAN BARTOLOME XICOMULCO', 'alcaldia'] = 'Milpa Alta'
capt_22.loc[capt_22['pueblo'] == 'PUEBLO SAN SALVADOR CUAUHTENCO', 'alcaldia'] = 'Milpa Alta'
capt_22.loc[capt_22['pueblo'] == 'SAN JUAN IXTAYOPAN', 'alcaldia'] = 'Tláhuac'
capt_22.loc[capt_22['scall_col'] == 'PUEBLO PARRES EL GUARDA', 'alcaldia'] = 'Tlalpan'
capt_22.loc[capt_22['pueblo'] == 'PUEBLO SANTO TOMAS AJUSCO', 'alcaldia'] = 'Tlalpan'
capt_22.loc[capt_22['scall_col'] == 'ATOCPA', 'alcaldia'] = 'Tlalpan'
capt_22.loc[capt_22['scall_col'] == 'TLALMILLE', 'alcaldia'] = 'Tlalpan'
capt_22.loc[capt_22['pueblo'] == 'PUEBLO PARRES EL GUARDA', 'alcaldia'] = 'Tlalpan'
capt_22.loc[capt_22['scall_col'] == 'CUCHILLA DEL TESORO', 'alcaldia'] = 'Gustavo A. Madero'
capt_22.loc[capt_22['pueblo'] == 'SAN ANTONIO TECOMITL', 'alcaldia'] = 'Milpa Alta'
capt_22.loc[capt_22['scall_col'] == 'VISTA HERMOSA', 'alcaldia'] = 'Gustavo A. Madero'
capt_22.loc[capt_22['scall_col'] == 'SAN FELIPE DE JESUS', 'alcaldia'] = 'Gustavo A. Madero'

In [371]:
capt_22['Colonia name'] = capt_22['Colonia name'].str.replace(r"[\[\]']", '', regex=True) #aqui usamos regex para quitar los brackets y comillas que se añadieron con shapely

In [376]:
capt_22.loc[capt_22['Colonia name'] == "PeÃ±a Alta", 'Colonia name'] = "Peña Alta"
capt_22.loc[capt_22['Colonia name'] == "San Juan 2a AmpliaciÃ³n (Pje)", 'Colonia name'] = "San Juan 2a Ampliación (Pje)"
capt_22.loc[capt_22['Colonia name'] == "Ayocatitla, AsunciÃ³n", 'Colonia name'] = "Ayocatitla, Asunción"

In [381]:
filtered_df = capt_22.loc[capt_22['Colonia name'].isna()]
value_counts = filtered_df['pueblo'].value_counts()
value_counts

pueblo
SAN PEDRO ATOCPAN                 43
SAN ANTONIO TECOMITL              25
NO APLICA                         12
PUEBLO SAN BARTOLOME XICOMULCO    11
PUEBLO SAN FRANCISCO TECOXPA       8
PUEBLO SAN LORENZO TLACOYUCAN      7
SAN PABLO OZTOTEPEC                6
VILLA MILPA ALTA                   2
SANTA ANA TLACOTENCO               2
PUEBLO SAN SALVADOR CUAUHTENCO     2
PUEBLO SANTO TOMAS AJUSCO          1
Name: count, dtype: int64

In [ ]:
capt_22.loc[capt_22['pueblo']=='SAN PEDRO ATOCPAN', 'Colonia name']='San Pedro Atocpan (Pblo)'
capt_22.loc[capt_22['pueblo']=='SAN ANTONIO TECOMITL', 'Colonia name']='San Antonio Tecomitl (Pblo)'

In [377]:
capt_22.drop('capacidad', axis=1, inplace=True)#Esta medida de capacidad solo viene para 22 y no para los demas
capt_22.drop('_id', axis=1, inplace=True) 
capt_22.drop('scall_col', axis=1, inplace=True)

In [379]:
capt_22.drop(columns=['Unnamed: 0','geometry'], axis=1, inplace=True)

In [380]:
capt_22.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16971 entries, 0 to 16970
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   expediente         16971 non-null  object
 1   pueblo             16971 non-null  object
 2   territorial        16971 non-null  object
 3   fecha_instalacion  16971 non-null  object
 4   alcaldia           16971 non-null  object
 5   colonia_datos      15943 non-null  object
 6   latitud            16971 non-null  float64
 7   longitud           16971 non-null  float64
 8   Colonia name       16852 non-null  object
 9   año                16971 non-null  int64
dtypes: float64(2), int64(1), object(7)
memory usage: 1.3+ MB

In [325]:
# SCALL.loc[SCALL['pueblo']=='SAN PABLO OZTOTEPEC', 'colonia_datos']='San Pablo Oztotepec (Pblo)'


# SCALL.loc[SCALL['pueblo']=='PBO. SANTIAGO TUYLYEHUALCO', 'colonia_datos']='Santiago Tulyehualco (Pblo)'
# SCALL.loc[SCALL['pueblo']=='PUEBLO SAN BARTOLOME XICOMULCO', 'colonia_datos']='San Bartolome Xicomulco (Pblo)'
# SCALL.loc[SCALL['pueblo']=='PUEBLO PARRES EL GUARDA', 'colonia_datos']='Parres El Guarda (Pblo)'
# SCALL.loc[SCALL['pueblo']=='PUEBLO SAN FRANCISCO TECOXPA', 'colonia_datos']='San Francisco Tecoxpa (Pblo)'
# SCALL.loc[SCALL['pueblo']=='PUEBLO SAN LORENZO TLACOYUCAN', 'colonia_datos']='San Lorenzo Tlacoyucan (Pblo)'
# SCALL.loc[SCALL['pueblo']=='PUEBLO SAN SALVADOR CUAUHTENCO', 'colonia_datos']='San Salvador Cuauhtenco (Pblo)'
# SCALL.loc[SCALL['pueblo']=='VILLA MILPA ALTA', 'colonia_datos']='Villa Milpa Alta (Pblo)'
# SCALL.loc[SCALL['pueblo']=='SANTA ANA TLACOTENCO', 'colonia_datos']='Santa Ana Tlacotenco (Pblo)'
# SCALL.loc[SCALL['pueblo']=='SAN JUAN IXTAYOPAN', 'colonia_datos']='San Juan Ixtayopan (Pblo)'
# SCALL.loc[SCALL['pueblo']=='PUEBLO SANTO TOMAS AJUSCO', 'colonia_datos']='Santo Tomas Ajusco (Pblo)'

In [326]:
SCALL['colonia_datos'] = SCALL['colonia_datos'].fillna(SCALL['scall_col'])

In [327]:
capt_19.info(), capt_20.info(), capt_21.info(), SCALL.info() #22 tiene estru distinta

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10003 entries, 0 to 10002
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   long        10003 non-null  float64
 1   lat         10003 non-null  float64
 2   Expediente  10003 non-null  object
 3   Pueblo      10003 non-null  object
 4   Colonia_Ba  10003 non-null  object
 5   Territoria  10003 non-null  object
 6   Alcaldia    10003 non-null  object
 7   Fecha_de_I  10000 non-null  object
 8   Instalado   10003 non-null  object
 9   año         10003 non-null  int64
dtypes: float64(2), int64(1), object(7)
memory usage: 781.6+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10007 entries, 0 to 10006
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   long        10007 non-null  float64
 1   lat         10007 non-null  float64
 2   Expediente  10007 non-null  object
 3   Pueblo      10007 non-null  object
 4   Colonia_Ba  10007 non-null  object
 5   Territoria  10007 non-null  object
 6   Alcaldia    10007 non-null  object
 7   Fecha_de_I  10007 non-null  object
 8   Instalado   10007 non-null  object
 9   año         10007 non-null  int64
dtypes: float64(2), int64(1), object(7)
memory usage: 781.9+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10015 entries, 0 to 10014
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   long        10015 non-null  float64
 1   lat         10015 non-null  float64
 2   Expediente  10015 non-null  object
 3   Pueblo      10015 non-null  object
 4   Colonia_Ba  10015 non-null  object
 5   Territoria  10015 non-null  object
 6   Alcaldia    10015 non-null  object
 7   Fecha_de_I  10015 non-null  object
 8   Instalado   10015 non-null  object
 9   año         10015 non-null  int64
dtypes: float64(2), int64(1), object(7)
memory usage: 782.6+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16971 entries, 0 to 16970
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   _id                16971 non-null  int64
 1   expediente         16971 non-null  object
 2   pueblo             16971 non-null  object
 3   scall_col          16971 non-null  object
 4   territorial        16971 non-null  object
 5   fecha_instalacion  16971 non-null  object
 6   capacidad          16971 non-null  int64
 7   alcaldia           16971 non-null  object
 8   colonia_datos      16971 non-null  object
 9   latitud            16971 non-null  float64
 10  longitud           16971 non-null  float64
 11  año                16971 non-null  int64
dtypes: float64(2), int64(3), object(7)
memory usage: 1.6+ MB

(None, None, None, None)

In [329]:
capt_total=pd.concat([capt_19,capt_20, capt_21],axis=0)

In [330]:
capt_total.drop('Instalado', axis=1, inplace=True)

In [331]:
capt_22=SCALL.reindex(columns=['longitud', 'latitud', 'expediente', 'pueblo', 'colonia_datos', 'territorial', 'alcaldia', 'fecha_instalacion', 'año'])

In [332]:
capt_22.columns= capt_total.columns

In [333]:
capt_total=pd.concat([capt_total, capt_22])

In [334]:
capt_total.shape

(46996, 9)

In [335]:
capt_total.drop('Territoria', axis=1, inplace=True)

In [336]:
capt_total.info()

<class 'pandas.core.frame.DataFrame'>
Index: 46996 entries, 0 to 16970
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   long        46996 non-null  float64
 1   lat         46996 non-null  float64
 2   Expediente  46996 non-null  object
 3   Pueblo      46996 non-null  object
 4   Colonia_Ba  46996 non-null  object
 5   Alcaldia    46996 non-null  object
 6   Fecha_de_I  46993 non-null  object
 7   año         46996 non-null  int64
dtypes: float64(2), int64(1), object(5)
memory usage: 3.2+ MB

In [337]:
capt_total['Colonia_Ba'] = capt_total['Colonia_Ba'].str.title()
capt_total['Colonia_Ba'] = capt_total['Colonia_Ba'].str.rstrip()
capt_total['Colonia_Ba'] = capt_total['Colonia_Ba'].str.lstrip()

In [338]:
mask = capt_total['Colonia_Ba'].str.contains('Pueblo')
capt_total['Colonia_Ba'] = np.where(mask, capt_total['Colonia_Ba'].str.replace('Pueblo', '') + ' (Pblo)', capt_total['Colonia_Ba'])

In [339]:
capt_total['Colonia_Ba'] = capt_total['Colonia_Ba'].str.rstrip()
capt_total['Colonia_Ba'] = capt_total['Colonia_Ba'].str.lstrip()

In [340]:
#capt_total['Colonia_Ba'].value_counts()
#col_unique_counts(capt_total, 'Colonia_Ba')

In [341]:
# capt_total['colonia id'] = None  

# for index, row in capt_total.iterrows():
#     colonia_ba = row['Colonia_Ba']
#     matching_row = geo[geo['Colonia name'] == colonia_ba]
    
#     if not matching_row.empty:
#         colonia_id = matching_row['Colonia code'].values[0]
#         capt_total.at[index, 'colonia id'] = colonia_id

In [342]:
# capt_total = capt_total.dropna(subset=['colonia id'])
# capt_total = capt_total.dropna(subset=['Fecha_de_I'])

In [350]:
#capt_total.loc[capt_total['colonia id'] == '09-012', 'Colonia_Ba'].value_counts()

In [364]:
#col_unique_counts(capt_total, 'colonia id')

In [345]:
nancolsper(capt_total)

Series([], dtype: float64)

In [346]:
Para

NameError: name 'Para' is not defined

In [ ]:
col_unique_counts(capt_total, 'Alcaldia')

               Alcaldia  Count
0            IZTAPALAPA   9486
1            Milpa Alta   8141
2               TLAHUAC   8004
3               TLALPAN   6160
4            XOCHIMILCO   5931
5            MILPA ALTA   3867
6     GUSTAVO A. MADERO   1631
7   MAGDALENA CONTRERAS   1100
8               Tlalpan    601
9          AZCAPOTZALCO    503
10             COYOACAN    451
11              Tláhuac    391
12           Xochimilco    391
13    Gustavo A. Madero    339

In [ ]:
nancols(capt_total)

Fecha_de_I    3
dtype: int64