# Cleaning data sets proyectos captura de agua

Estos archivos vienen separados por años desde 2019 a 2022. Primero agregaremos una columna de año para cada uno y luego los concatenamos para limpiarlos a la par. 

Hay muchos nulos en las columnas de colonia y de alcaldía que tenemos que homogenizar para poder tener la info para las 2 escalas

### Configuración espacio de trabajo

In [1]:
import numpy as np
import pandas as pd
import re
import warnings
warnings.filterwarnings('ignore')
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
from copy_repo_funciones import *
import geopandas as gpd

### Empezando

In [2]:
geo=pd.read_csv('../FINAL/RAW/GEOREF/georef-mexico-colonia.csv', sep=';') #Este archivo contiene el listado de colonias por alcaldia
geopandas=gpd.read_file('../FINAL/RAW/GEOREF/georef-mexico-colonia/georef-mexico-colonia-millesime.shp', encoding='utf-8')

In [3]:
geopandas.head()

,year,sta_code,sta_name,mun_code,mun_name,col_code,col_name,col_area_co,col_type,geometry
0,2022,['09'],['Ciudad de México'],['09002'],['Azcapotzalco'],['02-009'],['Coltongo'],MEX,colonia,"POLYGON ((-99.15595 19.48651, -99.15294 19.485..."
1,2022,['09'],['Ciudad de México'],['09003'],['Coyoacán'],['03-006'],['Ampliacion Candelaria'],MEX,colonia,"POLYGON ((-99.15265 19.32581, -99.15336 19.326..."
2,2022,['09'],['Ciudad de México'],['09003'],['Coyoacán'],['03-026'],['Croc Culhuacan Secc 6 (U Hab)'],MEX,colonia,"POLYGON ((-99.12251 19.32904, -99.12198 19.329..."
3,2022,['09'],['Ciudad de México'],['09003'],['Coyoacán'],['03-072'],['Los Cipreses'],MEX,colonia,"POLYGON ((-99.12466 19.31520, -99.12491 19.315..."
4,2022,['09'],['Ciudad de México'],['09004'],['Cuajimalpa de Morelos'],['04-033'],['Lomas Del Chamizal'],MEX,colonia,"POLYGON ((-99.26654 19.38314, -99.26658 19.383..."

In [94]:
capt_19=pd.read_csv('../FINAL/RAW/SCALL/scall_2019_col.csv')
capt_20=pd.read_csv('../FINAL/RAW/SCALL/scall_2020_col.csv')
capt_21=pd.read_csv('../FINAL/RAW/SCALL/scall_2021_col.csv')
capt_22=pd.read_csv('../FINAL/RAW/SCALL/scall_2022_col.csv') #Este archivo se hizo un cruce con shapely para sacar de las coordenadas para sacar colonia. More on that later

In [95]:
capt_22['año']=2022

### Shapely para sacar las colonias

A la hora de ingresar las colonias hay un gran numero de inconsistencias que va a tardar mucho corregir a mano, por lo tanto vamos a usar Shapely para leer las coordenadas y cruzarlo con los limites de cada colonia para poder asignar el nombre correcto y homogeneo. 

Esto ya fue ejecutado en un notebook de prueba para 2022 y vamos a hacerlo para los demas aquí.

In [7]:
# from shapely.geometry import Point, Polygon


# for index, row in capt_19.iterrows():
#      lat = row['lat']
#      lon = row['long']
    

#      point = Point(lon, lat)
    

#      colonia_name = None
    
 
#      for _, polygon in geopandas.iterrows():

#          if polygon['geometry'].contains(point):

#              colonia_name = polygon['col_name']
#              break 
    
   
#      capt_19.at[index, 'Colonia name'] = colonia_name

In [76]:
# capt_19.to_csv('../FINAL/RAW/SCALL/scall_2019_col.csv', index=False)

In [10]:
# for index, row in capt_20.iterrows():
#      lat = row['lat']
#      lon = row['long']
    

#      point = Point(lon, lat)
    

#      colonia_name = None
    
 
#      for _, polygon in geopandas.iterrows():

#          if polygon['geometry'].contains(point):

#              colonia_name = polygon['col_name']
#              break 
    
   
#      capt_20.at[index, 'Colonia name'] = colonia_name

In [75]:
# capt_20.to_csv('../FINAL/RAW/SCALL/scall_2020_col.csv', index=False)

In [13]:
# for index, row in capt_21.iterrows():
#      lat = row['lat']
#      lon = row['long']
    

#      point = Point(lon, lat)
    

#      colonia_name = None
    
 
#      for _, polygon in geopandas.iterrows():

#          if polygon['geometry'].contains(point):

#              colonia_name = polygon['col_name']
#              break 
    
   
#      capt_21.at[index, 'Colonia name'] = colonia_name

In [74]:
# capt_21.to_csv('../FINAL/RAW/SCALL/scall_2021_col.csv', index=False)

## Adecuamos estructura de 22 a 19,20,21 que la comparten para poder concatenar y limpiar a la vez

In [96]:
capt_22.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16971 entries, 0 to 16970
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         16971 non-null  int64
 1   _id                16971 non-null  int64
 2   expediente         16971 non-null  object
 3   pueblo             16971 non-null  object
 4   scall_col          16971 non-null  object
 5   territorial        16971 non-null  object
 6   fecha_instalacion  16971 non-null  object
 7   capacidad          16971 non-null  int64
 8   alcaldia           15943 non-null  object
 9   colonia_datos      15943 non-null  object
 10  latitud            16971 non-null  float64
 11  longitud           16971 non-null  float64
 12  geometry           16971 non-null  object
 13  Colonia name       16852 non-null  object
 14  año                16971 non-null  int64
dtypes: float64(2), int64(4), object(9)
memory usage: 1.9+ MB

In [97]:
capt_22.drop(columns=['Unnamed: 0','geometry', 'capacidad', '_id', 'scall_col'], axis=1, inplace=True)

In [98]:
capt_total=pd.concat([capt_19,capt_20, capt_21],axis=0)

In [99]:
capt_total.head()

,long,lat,Expediente,Pueblo,Colonia_Ba,Territoria,Alcaldia,Fecha_de_I,Instalado,año,Colonia name
0,-98.975686,19.328924,J16NRB,TEOTONGO ACAHUALTEPEC,CAMPESTRE POTRERO,TEOTONGO ACAHUALTEPEC,IZTAPALAPA,2019-07-24,Programa SCALL,2019,['Campestre Potrero']
1,-98.970402,19.327016,J5WU9F,TEOTONGO ACAHUALTEPEC,CAMPESTRE POTRERO,TEOTONGO ACAHUALTEPEC,IZTAPALAPA,2019-07-24,Programa SCALL,2019,['Campestre Potrero']
2,-98.969184,19.326854,X4S7RV,TEOTONGO ACAHUALTEPEC,SAN FRANCISCO APOLOCALCO,TEOTONGO ACAHUALTEPEC,IZTAPALAPA,2019-07-23,Programa SCALL,2019,['San Francisco Apolocalco']
3,-98.995963,19.334764,F5AXVR,TEOTONGO ACAHUALTEPEC,MIRAVALLES,TEOTONGO ACAHUALTEPEC,IZTAPALAPA,2019-07-25,Programa SCALL,2019,['Miravalle']
4,-99.006770,19.353941,M8IJD1,TEOTONGO ACAHUALTEPEC,SANTIAGO ACAHUALTEPEC 1a amp,TEOTONGO ACAHUALTEPEC,IZTAPALAPA,2019-06-06,Programa SCALL,2019,['1a Ampliacion Santiago Acahualtepec']

In [100]:
capt_total.drop('Instalado', axis=1, inplace=True)

In [101]:
capt_22=capt_22.reindex(columns=['longitud', 'latitud', 'expediente', 'pueblo', 'colonia_datos', 'territorial', 'alcaldia', 'fecha_instalacion', 'año', 'Colonia name'])

In [102]:
capt_22.columns= capt_total.columns

In [103]:
capt_total=pd.concat([capt_total, capt_22])

In [104]:
capt_total.shape

(46996, 10)

In [106]:
capt_total.drop('Territoria', axis=1, inplace=True)

In [107]:
capt_total['Colonia name'] = capt_total['Colonia name'].str.replace(r"[\[\]']", '', regex=True) #aqui usamos regex para quitar los brackets y comillas que se añadieron con shapely

In [105]:
capt_total.info()

<class 'pandas.core.frame.DataFrame'>
Index: 46996 entries, 0 to 16970
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   long          46996 non-null  float64
 1   lat           46996 non-null  float64
 2   Expediente    46996 non-null  object
 3   Pueblo        46996 non-null  object
 4   Colonia_Ba    45968 non-null  object
 5   Territoria    46996 non-null  object
 6   Alcaldia      45968 non-null  object
 7   Fecha_de_I    46993 non-null  object
 8   año           46996 non-null  int64
 9   Colonia name  46852 non-null  object
dtypes: float64(2), int64(1), object(7)
memory usage: 3.9+ MB

In [110]:
capt_total.loc[capt_total['Colonia name'] == "PeÃ±a Alta", 'Colonia name'] = "Peña Alta"
capt_total.loc[capt_total['Colonia name'] == "San Juan 2a AmpliaciÃ³n (Pje)", 'Colonia name'] = "San Juan 2a Ampliación (Pje)"
capt_total.loc[capt_total['Colonia name'] == "Ayocatitla, AsunciÃ³n", 'Colonia name'] = "Ayocatitla, Asunción"

In [114]:
capt_total.loc[capt_total['Pueblo'] == 'PBO. SANTIAGO TUYLYEHUALCO', 'Alcaldia'] = 'Xochimilco'
capt_total.loc[capt_total['Pueblo'] == 'PUEBLO SAN LORENZO TLACOYUCAN', 'Alcaldia'] = 'Milpa Alta'
capt_total.loc[capt_total['Pueblo'] == 'SAN PABLO OZTOTEPEC', 'Alcaldia'] = 'Milpa Alta'
capt_total.loc[capt_total['Pueblo'] == 'VILLA MILPA ALTA', 'Alcaldia'] = 'Milpa Alta'
capt_total.loc[capt_total['Pueblo'] == 'SAN PEDRO ATOCPAN', 'Alcaldia'] = 'Milpa Alta'
capt_total.loc[capt_total['Pueblo'] == 'PUEBLO SAN FRANCISCO TECOXPA', 'Alcaldia'] = 'Milpa Alta'
capt_total.loc[capt_total['Pueblo'] == 'PUEBLO SAN LORENZO TLACOYUCAN', 'Alcaldia'] = 'Milpa Alta'
capt_total.loc[capt_total['Pueblo'] == 'SANTA ANA TLACOTENCO', 'Alcaldia'] = 'Milpa Alta'
capt_total.loc[capt_total['Pueblo'] == 'PUEBLO SAN BARTOLOME XICOMULCO', 'Alcaldia'] = 'Milpa Alta'
capt_total.loc[capt_total['Pueblo'] == 'PUEBLO SAN SALVADOR CUAUHTENCO', 'Alcaldia'] = 'Milpa Alta'
capt_total.loc[capt_total['Pueblo'] == 'SAN JUAN IXTAYOPAN', 'Alcaldia'] = 'Tláhuac'
capt_total.loc[capt_total['Pueblo'] == 'PUEBLO SANTO TOMAS AJUSCO', 'Alcaldia'] = 'Tlalpan'
capt_total.loc[capt_total['Pueblo'] == 'PUEBLO PARRES EL GUARDA', 'Alcaldia'] = 'Tlalpan'
capt_total.loc[capt_total['Pueblo'] == 'SAN ANTONIO TECOMITL', 'Alcaldia'] = 'Milpa Alta'

In [123]:
capt_total.loc[capt_total['Pueblo']=='SAN PEDRO ATOCPAN', 'Colonia name']='San Pedro Atocpan (Pblo)'
capt_total.loc[capt_total['Pueblo']=='SAN ANTONIO TECOMITL', 'Colonia name']='San Antonio Tecomitl (Pblo)'
capt_total.loc[capt_total['Pueblo']=='PUEBLO SAN BARTOLOME XICOMULCO', 'Colonia name']='San Bartolome Xicomulco (Pblo)'
capt_total.loc[capt_total['Pueblo']=='PUEBLO SAN FRANCISCO TECOXPA', 'Colonia name']='San Francisco Tecoxpa (Pblo)'
capt_total.loc[capt_total['Pueblo']=='PUEBLO SAN LORENZO TLACOYUCAN', 'Colonia name']='San Lorenzo Tlacoyucan (Pblo)'
capt_total.loc[capt_total['Pueblo']=='SAN PABLO OZTOTEPEC', 'Colonia name']='San Pablo Oztotepec (Pblo)'
capt_total.loc[capt_total['Pueblo']=='VILLA MILPA ALTA', 'Colonia name']='Villa Milpa Alta (Pblo)'
capt_total.loc[capt_total['Pueblo']=='SANTA ANA TLACOTENCO', 'Colonia name']='Santa Ana Tlacotenco (Pblo)'
capt_total.loc[capt_total['Pueblo']=='PUEBLO SAN SALVADOR CUAUHTENCO', 'Colonia name']='San Salvador Cuauhtenco (Pblo)'
capt_total.loc[capt_total['Pueblo']=='PUEBLO SANTO TOMAS AJUSCO', 'Colonia name']='Santo Tomas Ajusco (Pblo)'
capt_total.loc[capt_total['Pueblo']=='SAN ANDRES MIXQUIC', 'Colonia name']='San Andres Mixquic (Pblo)'
capt_total.loc[capt_total['Pueblo']=='PUEBLO SAN FRANCISCO TLALTENCO', 'Colonia name']='San Francisco Tlaltenco (Pblo)'
capt_total.loc[capt_total['Pueblo']=='SANTA CATARINA YECAHUIZOTL', 'Colonia name']='Santa Catarina Yecahuizotl (Pblo)'
capt_total.loc[capt_total['Pueblo']=='TEOTONGO ACAHUALTEPEC', 'Colonia name']='Santiago Acahualtepec (Pblo)'

In [126]:
capt_total.drop('Colonia_Ba', axis=1, inplace=True)

In [131]:
capt_total.drop('Pueblo', axis=1, inplace=True)

In [128]:
capt_total = capt_total.dropna(subset=['Colonia name'])
capt_total = capt_total.dropna(subset=['Fecha_de_I'])
capt_total = capt_total.dropna(subset=['Alcaldia'])

In [147]:
capt_total['Fecha_de_I'] = capt_total['Fecha_de_I'].str.split('T').str[0]
capt_total['Fecha_de_I'] = pd.to_datetime(capt_total['Fecha_de_I'])

In [148]:
capt_total.info()

<class 'pandas.core.frame.DataFrame'>
Index: 46964 entries, 0 to 16970
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   long          46964 non-null  float64
 1   lat           46964 non-null  float64
 2   Expediente    46964 non-null  object
 3   Alcaldia      46964 non-null  object
 4   Fecha_de_I    46964 non-null  datetime64[ns]
 5   año           46964 non-null  int64
 6   Colonia name  46964 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(3)
memory usage: 2.9+ MB

In [154]:
capt_total['Alcaldia'].value_counts()

Alcaldia
Milpa Alta             12005
Iztapalapa              9481
Tlahuac                 7343
Tlalpan                 6746
Xochimilco              6319
Gustavo A. Madero       1966
Magdalena Contreras     1099
Tláhuac                 1052
Azcapotzalco             503
Coyoacan                 450
Name: count, dtype: int64

In [151]:
capt_total['Alcaldia'] = capt_total['Alcaldia'].str.title()

In [158]:
capt_total.loc[capt_total['Alcaldia']=='Coyoacan', 'Alcaldia']='Coyoacán'
capt_total.loc[capt_total['Alcaldia']=='Alvaro Obregon', 'Alcaldia']='Álvaro Obregón'
capt_total.loc[capt_total['Alcaldia']=='Tlahuac', 'Alcaldia']='Tláhuac'
capt_total.loc[capt_total['Alcaldia']=='Benito Juarez', 'Alcaldia']='Benito Juárez'
capt_total.loc[capt_total['Alcaldia'] == 'Cuauhtemoc', 'Alcaldia'] = 'Cuauhtémoc'
capt_total.loc[capt_total['Alcaldia'] == 'Magdalena Contreras', 'Alcaldia'] = 'La Magdalena Contreras'

In [159]:
map_to_alcaldia_id(capt_total, 'Alcaldia')

,long,lat,Expediente,Alcaldia,Fecha_de_I,año,Colonia name,alcaldia,alcaldia_id
0,-98.975686,19.328924,J16NRB,Iztapalapa,2019-07-24,2019,Santiago Acahualtepec (Pblo),NaN,007
1,-98.970402,19.327016,J5WU9F,Iztapalapa,2019-07-24,2019,Santiago Acahualtepec (Pblo),NaN,007
2,-98.969184,19.326854,X4S7RV,Iztapalapa,2019-07-23,2019,Santiago Acahualtepec (Pblo),NaN,007
3,-98.995963,19.334764,F5AXVR,Iztapalapa,2019-07-25,2019,Santiago Acahualtepec (Pblo),NaN,007
4,-99.006770,19.353941,M8IJD1,Iztapalapa,2019-06-06,2019,Santiago Acahualtepec (Pblo),NaN,007

In [172]:
nancolsper(capt_total)

colonia id    0.15
dtype: float64

In [171]:
capt_total['colonia id'] = None  

for index, row in capt_total.iterrows():
     colonia_ba = row['Colonia name']
     matching_row = geo[geo['Colonia name'] == colonia_ba]
    
     if not matching_row.empty:
         colonia_id = matching_row['Colonia code'].values[0]
         capt_total.at[index, 'colonia id'] = colonia_id

In [175]:
capt_total.loc[capt_total['Colonia name']=='San Pablo I, Ii Y V-Lomas Del Paraiso', 'colonia id']='07-201'
capt_total.loc[capt_total['Colonia name']=='Mesa Los Hornos, Texcaltenco', 'colonia id']='12-094'
capt_total.loc[capt_total['Colonia name']=='Ayocatitla, Asunción', 'colonia id']='12-011'
capt_total.loc[capt_total['Colonia name']=='Ejto Constitucionalista, Supermanzana Ii (U Hab)', 'colonia id']='07-047'
capt_total.loc[capt_total['Colonia name']=='Ejto Constitucionalista, Supermanzana I (U Hab)', 'colonia id']='07-046'

In [177]:
capt_total.to_csv('../FINAL/CLEAN/captacion_total_clean.csv', index=False)